extends layout

block content
  div.wrapper.main-content
    div.container
      div.col-md-8.col-sm-8
        each cat in categories
            each item in cat.blogs
                div.post-para-blog
                  div.blog-show-img
                      if item.poster.indexOf('http') > -1
                        img(src="#{item.poster}",alt="#{item.title}")
                      else
                        img(src="/upload/#{item.poster}",alt="#{item.title}")
                  div.blog-show-tips
                    h3.blog-tips-title #{item.title}
                    h5.blog-tips-postTime #{moment(item.meta.createAt).format('MM/DD/YYYY')}
                    div.blog-tips-content
                      p #{item.summary}
                    div.blo-tips-tags.tagcloud
                      a(href="#") c#
                      a(href="#") javascript
                    a(href="/blog/#{item._id}").more 阅读全文 -->
        div.pagecontrol
          span 分页在这里设置
      div.col-md-3.col-sm-3.col-md-offset-1.col-sm-offset-1.search-col
        div.categories
          h3 分类检索
          ul
            each cat in categories
                li.cat-item
                  a(href="#") #{cat.name}
                  | (#{cat.blogs.length})
        div.tags.childColumn
          h3 标签
          div.tagcloud
                a(href="#") javascript
                a(href="#") javascript
                a(href="#") javascript
        div.lastPost.childColumn
          h3 最新文章
          ul
            li
              a(href="#") 如何隐晦的说出内心的话
            li
              a(href="#") javascript
            li
              a(href="#") javascript


  

